.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    background-color: #E2F2D5;
  }

.routineBoxTitle {
    font-size: 18px;
    font-weight: bold;
}

.routineBoxContent {
    font-size: 11px;
    display: flex;
    margin-bottom: 12px;
}

.routineMenu{
    font-size: 14px;
    margin-right: 10px;
}

.routineContent{
    font-size: 14px;
    color: #707070;
}
 
.routineBoxContentWrap{
    margin-top: 15px;
}

.routineHr{
    margin: 20px 0;
}